<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="main.js"></script>
</head>
<body>
<section class="background">
    <img src="/static/img/background.png" alt="">
    <div class="menu">
        <div class="menu-toggle" onclick="toggleMenu()">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        </div>
        <div class="menu-items">
            <button onclick="handleMenuClick('about')">About Me</button>
            <button onclick="handleMenuClick('news')">News</button>
            <button onclick="handleMenuClick('vpu29')">VPU29</button>
        </div>
    <div class="separator"></div>
</section>
</body>
</html>